.portfolio-image {
    height: 25rem;
    border-radius: 1rem;
}
.portfolio-title {
    color: var(--font-color);
    font-family: 'ExpertSans-Bold';
}
.portfolio-description {
    font-family: 'ExpertSans-Regular';
    color: var(--side-header-color);
}
.side-heading {
    color: var(--font-color);
    font-family: 'ExpertSans-Bold';
    padding-bottom: 1vh;
}
.portfolio-sub-title1 {
    font-family: 'ExpertSans-Regular';
    font-style: italic;
    color: var(--sub-title-color);
}
.portfolio-sub-title2 {
    color: var(--sub-title-color);
    font-family: 'ExpertSans-Regular';
    cursor: pointer;
    text-decoration: underline;
}
.icon-style {
    height: 30px;
}
.roles-container{
    padding-left: 2vw;
}
.connection-line{
    border-left: 2px solid var(--font-color);
    margin-left: 7px;
}
.role-description{
    padding-left: 1vw;
}
.circle{
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #4e5ed3;
    border-radius: 50%;
    margin-top: 5px;
}
.last-desription{
    margin-left: 7px;
}
.logo{
    border-radius: 50%;
}
.form-field{
    width: 20vw;
}
.gradient-button {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
.gradient-button {
margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
}

.gradient-button:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
         