.portfolio-image {
    height: 25rem;
    border-radius: 1rem;
}
.portfolio-title {
    color: var(--font-color);
    font-family: 'ExpertSans-Bold';
}
.portfolio-description {
    font-family: 'ExpertSans-Regular';
    color: var(--side-header-color);
}
.side-heading {
    color: var(--font-color);
    font-family: 'ExpertSans-Bold';
    padding-bottom: 1vh;
}
.portfolio-sub-title1 {
    font-family: 'ExpertSans-Regular';
    font-style: italic;
    color: var(--sub-title-color);
}
.portfolio-sub-title2 {
    color: var(--sub-title-color);
    font-family: 'ExpertSans-Regular';
    cursor: pointer;
    text-decoration: underline;
}
.icon-style {
    height: 30px;
}
.static-text{
    color: var(--font-color);
}