.navigation-screen {
    padding: 0vh 1vh;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    position: fixed;
    background-color: var(--background-color);
}
.image-icon {
    border-radius: 100%;
    height: 50px;
    cursor: pointer;
}
.font-signature {
    font-family: 'GreatVibes-Regular';
    color: var(--font-color);
}
.theme-icon {
    cursor: pointer;
    height: 36px;
}
.flag-icon {
    height: 26px;
}
.list {
    width: 100px;
    border: solid 1px var(--list-border);
    border-radius: 5px;
    background-color: var(--background-color);
    text-align: center;
    padding: 10px;
    margin: 0;
}
.list>li {
    list-style-type: none;
    border-bottom: solid 1px var(--list-seperator);
    padding: 8px 0;
    cursor: pointer;
}
.list>li:last-child {
    border-bottom: none;
}
.lang-select-container {
    padding: 5px;
    border: 1px solid var(--list-border);
    cursor: pointer;
    border-radius: 10px;
}
.static-text{
    color: var(--font-color);
}