@import '~@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('assets/font/GreatVibes-Regular.ttf');
}
@font-face {
    font-family: 'ExpertSans-Bold';
    src: url('assets/font/ExpertSans-Bold.ttf');
}
@font-face {
    font-family: 'ExpertSans-Regular';
    src: url('assets/font/ExpertSans-Regular.ttf');
}
@font-face {
    font-family: 'ExpertSans-Light';
    src: url('assets/font/ExpertSans-Light.ttf');
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: grab;
}