@import '~@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('assets/font/GreatVibes-Regular.ttf');
}
@font-face {
    font-family: 'ExpertSans-Bold';
    src: url('assets/font/ExpertSans-Bold.ttf');
}
@font-face {
    font-family: 'ExpertSans-Regular';
    src: url('assets/font/ExpertSans-Regular.ttf');
}
@font-face {
    font-family: 'ExpertSans-Light';
    src: url('assets/font/ExpertSans-Light.ttf');
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888;
    cursor: grab;
}
[data-theme="light"]{
    --border-color: #e2e2e2;
    --background-color: #ffffff;
    --font-color: #00395d;
    --list-seperator: #8b8b8b;
    --list-border: #ccc;
    --side-header-color: #023e8a;
    --sub-title-color: #457b9d;
}
[data-theme="dark"]{
    --border-color: #000000;
    --background-color: #2b2b2c;
    --font-color: #ffffff;
    --list-seperator: #ffffff;
    --list-border: #ffffff;
    --side-header-color: #ffffff;
    --sub-title-color: #ffffff;
}

.static-text{
    color: var(--font-color);
}